<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <% @spaces.each do |space| %>
  <% if space.photo.attached? %>
  <div class="col">
    <div class="card">
      <%= cl_image_tag space.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-body">
        <h5 class="card-title" style="color: #6096B4";><%= space.name %></h5>
        <p class="card-text mb-0"><%= space.address %></p>
        <p class="card-text mt-0"><%= "€#{space.price}/h" %></p>
        <a href=<%= "/spaces/#{space.id}" %> class="btn btn-outline-primary" role="button">Discover more</a>
        <% if Booking.find_by(space: space, user: current_user).present? %>
        <button class="btn btn-outline-primary"> Booked </button>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
