<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
      <a class="navbar-brand  mb-0 h1" href="#" style="color: #6096B4";>Co-Working</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/" role="button">Home</a>
          <a class="nav-link" href="#">Location</a>
          <a class="nav-link" href="#">Rent your space</a>
          <a class="nav-link disabled">Disabled</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="row row-cols-1 row-cols-md-3 g-4">
  <% @spaces.each do |space| %>
  <div class="col">
    <div class="card">
      <%= image_tag "space.jpg", alt: "" %>
      <div class="card-body">
        <h5 class="card-title"><%= space.name %></h5>
        <p class="card-text mb-0"><%= space.address %></p>
        <p class="card-text mt-0"><%= "€#{space.price}/h" %></p>
        <a href=<%= "/spaces/#{space.id}" %> class="btn btn-primary" role="button">Discover more</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
