<div class="container">

  <h1><%= @space.name%> </h1>

    <div class="banner-content">
      <%= image_tag "home_banner.jpg", alt: "Le Wagon", width: "50%" %>
    </div>

 <br>

  <div class="banner-content">
    <p><strong>Adress:</strong> <%= @space.address %></p>
    <p><strong>Contact Information:</strong> <%= @space.contact %></p>
    <p><strong>Description:</strong> <%= @space.description %></p>
    <p><strong>Price:</strong> <%= @space.price %> $</p>
  </div>

  <div class="d-flex justify-content-end">
    <div>
      <% if Booking.find_by(space: @space, user: current_user).present? %>
        <div> <%= button_to 'Cancel Booking', space_booking_path(@space.id), method: :delete, class: "btn btn-outline-primary btn-lg" %></div>
        <% else %>
        <div> <%= button_to 'Booking', space_bookings_path(@space.id), method: :post, class: "btn btn-outline-primary btn-lg" %></div>
      <% end %>
      </div>
      <a href="/spaces" class="btn btn-outline-primary btn-lg mb-2 mt-0" role="button">Go back to all spaces</a>
    </div>
  </div>
</div>
